{%extends "base.html"%}

{%block title%}
	Blog App
{%endblock%}

{%block body_container%}
	{%if user.is_authenticated%}
		Welcome {{user.username}}. Wanna go to your 
		<a href="/blog/{{user.username}}/" class="btn btn-default">homepage</a><br />
		<a href="/user/logout/?redirect_to=/blog/" class="btn btn-default">Logout</a>
	{%else%}
		<a href="/user/login/?redirect_to=/blog/" class="btn btn-default">Login</a><br />
		<a href="/user/signup/?redirect_to=/user/login/?redirect_to=/blog/"  class="btn btn-default">Signup</a>
	{%endif%}
{%endblock%}
