{%extends "base.html"%}

{%block title%}
	Blog App
{%endblock%}

{%block body_container%}
	<div class="jumbotron">
		<h1>Blog Application</h1>
		<p>
		This is a blog application built in Django framework.
		The application is built intending to be plugged into existing
		django applications. Hence it is built with DRY as its purpose.
		</p>
		<p><a target = "_blank" class = "btn btn-primary btn-lg" href="https://github.com/ravimalik20/blogApp">View Code</a></p>
	</div>

	{%if user.is_authenticated%}
		Welcome {{user.username}}. Wanna go to your 
		<a href="/blog/{{user.username}}/" class="btn btn-default">homepage</a><br />
		<a href="/user/logout/?redirect_to=/blog/" class="btn btn-default">Logout</a>
	{%else%}
		<a href="/user/login/?redirect_to=/blog/" class="btn btn-default">Login</a><br />
		<a href="/user/signup/?redirect_to=/user/login/?redirect_to=/blog/"  class="btn btn-default">Signup</a>
	{%endif%}
{%endblock%}
