{%extends "base.html"%}

{%block title%}
	User Home : {{blog_owner.username}}
{%endblock%}

{%block main_body%}
	{%if blog_owner %}
		<h1>{{blog_owner.username}}</h1>

		<h2>List of blogs of {{blog_owner.username}}</h2>
		{%for i in blog_owner.blog_owner.all%}
		<ul>		
		<li>
			<p>{{i.title}}</p>
			<a href="/blog/{{i.getCompleteURL}}/" class="btn btn-default">view</a>
			{%ifequal user.pk i.owner.pk%}
			<a href="/blog/{{i.getCompleteURL}}/post/" class="btn btn-default">Make a Post</a>
			{%endifequal%}
		</li>
		</ul>
		{%endfor%}
	{%else%}
		Not working
	{%endif%}

	{%ifequal user blog_owner%}
		<a href="/blog/new/" class="btn btn-default">Create a Blog</a>
	{%endifequal%}
{%endblock%}
